[submodule "third_party/vcpkg"]
	path = third_party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third_party/msdfgen"]
	path = third_party/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
